coverage
# TODO: use a mainstream release when released
git+https://github.com/pytest-dev/py#egg=py
git+https://github.com/pytest-dev/pytest#egg=pytest
importlib-metadata
markdown-to-presentation>=0.0.21
pre-commit
pygments-ansi-color
