coverage
# TODO: use a mainstream release when released
git+https://github.com/pytest-dev/py#egg=py
git+https://github.com/pytest-dev/pytest#egg=pytest
importlib-metadata
pre-commit
pygments-ansi-color
