name: deploy
on:
  pull_request:
  push:
    branches: [master]

jobs:
  build:
    name: pr
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
    - run: pip install tox
    - run: tox -e push
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
